# Compiler outputs
cache/
out/

# Broadcast logs
broadcast/
!/broadcast/**/README.md

# Local environment files
.env
.env.local
.env.*.local

# OS/editor files
.DS_Store
.vscode/
.idea/

# Dependencies generated locally if not using submodules
node_modules/
